<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Another Skip Suite">
  <test thread-count="5" name="Skip Exception Test Case">
    <classes>
      <class name="annotations.AnotherSKIPTechniqueTestAnnotation"/>
    </classes>
  </test> <!-- Skip Exception Test Case -->
</suite> <!-- Another Skip Suite -->
