<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Assertion Class Suite - Rediffmail" >
  <test thread-count="5" name="Rediffmail Form Test Case">
    <classes>
      <class name="TestCase.formRediffmail"/>
    </classes>
  </test>
  <test thread-count="5" name="Rediffmail Compose Email Test Case">
    <classes>
      <class name="TestCase.SendingMailRediff"/>
    </classes>
  </test>  <!-- Test -->
</suite> <!-- Data Provider Suite - Rediffmail -->
