<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Suite">
  <test thread-count="5" name="Example Test Case">
    <classes>
      <class name="annotations.ExampleTestAnnotation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- My Suite -->
